@font-face {
    font-family: "Fire";
    src: url("assets//fonts/Blazed.ttf") format("truetype")
}

* {
    box-sizing: border-box;

}

body {
    background-color: #b8bbbd;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

}

#mainwrapper {
    margin: 0;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 50px 1fr min-content;
    min-height: 100vh;
    width: 100vw;
    align-content: stretch;

}

p {
    margin: 0px;
}

footer {
    height: 0;
    width: unset;
    margin: 0;
    padding: 0;
}

.header {
    height: 3em;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;

}

.newboardbtn,
.removeboardbtn {
    float: right;
    cursor: pointer;
    margin-top: -10px;
    margin-left: 10px;
    font-size: 2em;
}

.crazybtn {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

#container {
    display: grid;
    justify-items: center;
    align-items: center;
    pointer-events: none;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(600px, 1fr));
    grid-auto-rows: 600px;
}

.boardwrapper {
    width: 60%;
    max-width: 70vh;
}

.poshelper {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.board,
.labeling {
    position: absolute;
    width: 100%;
    height: 100%;

}

.labeling {
    color: black;
    font-weight: bold;
}

.board {
    display: grid;
    grid: repeat(8, 1fr) / repeat(8, 1fr);
    cursor: pointer;
    z-index: 100;
    border-radius: 5px;
    background-color: red;
    overflow: hidden;
    pointer-events: all;

}

.letterwrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    align-items: center;
    height: 8%;
    width: 100%;
}


.numberwrapper {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    justify-items: center;
    align-items: center;
    transform: translateX(-100%);
    width: 8%;
    height: 100%;

}


.field {
    background-color: rgb(24, 95, 10);
    /* background-image: url("assets/1.jpg"); */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.odd {
    background-image: none;
    background-color: #fff;
}

.field:hover {
    background-image: none;
    border-radius: 20%;
    transition: all 60ms ease-in-out;
    /* background-color: rgb(112, 0, 97); */
}


.piece {
    width: 90%;
    height: 90%;
    /* border-radius: 70%; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* background-color: red; */
}

.white {
    color: red;
    /* background-color: white; */

}

#info-wrapper {
    padding: 10px;
    box-sizing: border-box;
    /* background-color: rgb(231, 231, 231); */
}

#form {
    z-index: 200;
    display: grid;
    grid-template-columns: auto 300px 150px 150px;
    grid-template-rows: repeat(2, auto);
    grid-gap: 5px;
    margin: 0;
}

input[type="submit"i],
.button {

    background-color: white;
    border: 2px solid black;
    color: black;
    font-size: 1em;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

input[type="submit"i]:hover,
.button:hover {
    background-color: rgb(24, 95, 10);
    border: 2px solid rgb(24, 95, 10);
    color: white;
    font-size: 1em;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    transition: all 150ms ease-in-out;
}

#feninput {
    grid-column: 2 / 3;
    border: 2px solid rgb(150, 150, 150);
    font-size: 1em;
    padding: 5px;

}

#fensubmit {
    grid-column: 3 / 3;
    max-width: 50vw;
}

#reset {
    grid-column: 4 / 4;
}

@media(max-width: 768px) {

    #container {
        display: grid;
        justify-items: center;
        align-items: center;
        pointer-events: none;
        grid-template-columns: repeat(auto-fit, minmax(100vw, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(100vw, 1fr));
        grid-auto-rows: 100vw;
    }


    .boardwrapper {
        width: 80%;
        max-width: 70vh;
    }

    #form {
        z-index: 200;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-gap: 5px;
    }

    #feninput {
        grid-column: 1 / span 2;
        border: 2px solid rgb(150, 150, 150);
        font-size: 1em;
        padding: 5px;

    }

    #fensubmit {
        grid-column: 1 / 1;
        max-width: 50vw;
    }

    #reset {
        grid-column: 2 / 2;
    }
}




#wr {
    background-image: url("assets/svg/wr.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

#wn {
    background-image: url("assets/svg/wn.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#wb {
    background-image: url("assets/svg/wb.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#wq {
    background-image: url("assets/svg/wq.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#wk {
    background-image: url("assets/svg/wk.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#wp {
    background-image: url("assets/svg/wp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#br {
    background-image: url("assets/svg/br.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#bn {
    background-image: url("assets/svg/bn.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#bb {
    background-image: url("assets/svg/bb.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#bq {
    background-image: url("assets/svg/bq.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#bk {
    background-image: url("assets/svg/bk.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#bp {
    background-image: url("assets/svg/bp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.crazy {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}

.crazy::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: -1;
    background-image: url("https://phoneky.co.uk/thumbs/screensavers/down/places/paradisebe_utfis76i.gif");
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg);
}

.crazy #container .boardwrapper .labeling {
    font-family: "Fire";

    color: yellow;
}

.crazy #container .boardwrapper .board {
    background: linear-gradient(360deg, rgba(255, 0, 0, 1) 0%, rgba(255, 233, 0, 1) 100%);

}

.crazy #container .boardwrapper .field {
    background: linear-gradient(360deg, rgba(1, 0, 255, 1) 0%, rgba(0, 243, 255, 1) 100%);

    /* background-color: transparent; */
}

.crazy #container .boardwrapper .piece {
    mix-blend-mode: normal;
    background-color: transparent;
}


.crazy #container .boardwrapper .board .odd {
    /* mix-blend-mode: difference; */
    background: linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 233, 0, 1) 100%);
}

.crazy .header {

    font-family: "Fire";
    text-shadow: 0 0 5px yellow;
}